

<div class="container">
 
    <div id="pageBody">
		<br>
        <ul class="media-list center-block" id="profile">
            <li class="media">
                <div class="pull-left align-center" href="#">
                    <ul class="menuBarLower nav nav-pills type-b">
                        <li><a href="#" class="active">About</a></li>
                        <li><a href="#">Contact Team</a></li>
                    </ul>
                    <img src="/images/sample_big_profile_picture.jpg" alt="Clockworks' Photo" style="width:400px;height:600px"><br>
                    <a class="cursor-pointer" href="www.clockworks.com.sg">www.clockworks.com.sg</a>
                </div>
                <div class="media-body">
                    <ul class="list-group inline-block">
						<li> <h2 class="inline-block"> <%= @entrepreneur.name %> 's Profile</h2></li>
                        <li>Name: <%= @entrepreneur.name %> </li>
                        <li>Degree:  <%= @entrepreneur.degree %> </li>
                        <li>Place:  <%= @entrepreneur.place %> </li>
                        <li>Languages: ...</li>
                        <li>Country:  <%= @entrepreneur.country%> </li><br>
                        <li>About Me:
                            <p>
                                 <%= @entrepreneur.about %>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>
