<!DOCTYPE html>
<html>
<head>
    <title>Academo</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mock-up.css">
    <script src="js/jquery-minified.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/mock-up.js"></script>
</head>
<body>
<div class="container">
    <div id="pageHeader" class="container-fluid">
        <div class="row">
            <div class="col-xs-4 logo">
                <a href="#"><img src="/images/logo.jpg"></a>
            </div>
            <div class="col-xs-3 col-xs-offset-5">
                <div id="loginBox" class="login-box row align-center">
                    <div id="paypalTopUp" class="col-xs-5 top-up">TOP-UP</div>
                    <div class="col-xs-4">LOGOUT<br><small>(asdf@asd.com)</small></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="menuBarHolder">
        <div id="menuBar" class="row align-center">
            <div class="col-xs-3 menu-item"><h4>About ACADEMO</h4></div>
            <div class="col-xs-2 menu-item"><h4>Faces</h4></div>
            <div class="col-xs-3 menu-item"><h4>Our Achievements</h4></div>
            <div class="col-xs-2 menu-item"><h4>Contact Us</h4></div>
            <div class="col-xs-2 menu-item"><h4>Blog</h4></div>
        </div>
        <br>
        <ul class="nav nav-pills align-center container">
            <li><a class="active">Personalised Tutorials</a></li>
            <li><a>Smart Classroom</a></li>
            <li><a>Start-up Consultation</a></li>
        </ul>
    </div>
    <div id="pageBody">
        <div class="align-center">
            <div class="nav-arrows inline-block">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <h2 class="inline-block"> <%= @tutor.name %> 's Profile</h2>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <br>
        <ul class="media-list center-block" id="profile">
            <li class="media">
                <div class="pull-left thumbnail align-center" href="#">
                    <ul class="nav nav-pills">
                        <li><a href="#" class="active">About Me</a></li>
                        <li><a href="#">Reviews/Comments</a></li>
                        <li><a href="#">Calendar</a></li>
                    </ul>
                    <hr />
                    <span id="tutorMessagePopup0" data-id="tutorId0"
                          data-name="Ramesh" class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                    <img src="/images/eraser.png" alt="Ramesh' Photo"><br>
                    <a class="cursor-pointer">Select And Book A Session</a>
                </div>
                <div class="media-body">
                    <ul class="list-group inline-block">
                        <li>Name: <%= @tutor.name %> </li>
                        <li>Degree: <%= @tutor.degree %> </li>
                        <li>Uni:  <%= @tutor.place %> </li><br>
                        <li>
                            <p>
                                 <%= @tutor.about %>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div id="pageFooter"></div>

    <%= link_to 'Back', tutors_path %>
</div>
</body>
</html>
