
<div class="container">

    <div id="pageBody">
		<br>
        <ul class="media-list center-block" id="profile">
            <li class="media">
                <div class="pull-left align-center" href="#">
					  <ul class="menuBarLower nav nav-pills type-b">
                        <li><a href="#" class="active">About me</a></li>
                        <li><a href="#">Review/Comments</a></li>
                        <li><a href="#">Calender</a></li>
                    </ul>
                    <img src="/images/sample_big_profile_picture.jpg" alt="Clockworks' Photo" style="width:400px;height:600px"><br>
                    <a class="cursor-pointer">Select And Book A Session</a>
                </div>
                <div class="media-body">
                    <ul class="list-group inline-block">
						<li><h2 class="inline-block"> <%= @tutor.name %> 's Profile</h2></li>
                        <li>Name: <%= @tutor.name %> </li>
                        <li>Degree: <%= @tutor.degree %> </li>
                        <li>Uni:  <%= @tutor.place %> </li><br>
                        <li>
                            <p>
                                 <%= @tutor.about %>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <%= link_to 'Back', tutors_path %>
</div>
