<h1> Academo </h1>

<p> <%= link_to 'find a tutor', controller: 'tutors' %> </p>


<div class="login-box row">
    <% if user_signed_in? %>
        <div class="col-xs-2"> <%= current_user.email %> </div>
        <div class="col-xs-6"> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </div>
    <% else %>
        <div class="col-xs-6"> <%= link_to('Register', new_user_registration_path) %> </div>
        <div class="col-xs-6"> <%= link_to('Login', new_user_session_path) %> </div>
    <% end %>
</div>
